#about-container {
  padding-top: 8vh;
}

/* typing effect css */

.typewritter-wrapper {
  width: 50%;
  padding: 5% 10%;
}

.type {
  color: #0000;
  font-size: 28px;
  background:
    linear-gradient(-90deg, #ffffff 5px, #0000 0) 10px 0,
    linear-gradient(#ffffff 0 0) 0 0;
  background-size: calc(408*1ch) 200%;
  width: 50%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  animation:
    b .7s infinite steps(1),
    t calc(408*.1s) steps(408) forwards;
}

@keyframes t {
  from {
    background-size: 0 200%
  }
}

@keyframes b {
  50% {
    background-position: 0 -100%, 0 0
  }
}

@media only screen and (max-width:900px) {
  .typewritter-wrapper {
    width: 80%;
  }
}