#header{
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding: 0px 10px 0px 10px;
  width: 4vw;
}
#header h1{
  color: #FFFFFF;
  font-family: 'Open Sans';
}
#routes{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  height: 100%;
}
hr{
  height: 15%;
  margin: 0px;
}
.route{
  text-decoration: none;
  background: none;
  border: 2px solid red;
  color: #ffffff;
  cursor: pointer;
  margin: 0px;
  height: 7%;
  border-radius: 50%;   
}
.route:nth-child(1){
  background-color: red;
}
.route:nth-child(3){
  background-color: red;
}
.route:nth-child(5){
  background-color: red;
}
.route:nth-child(7){
  background-color: red;
}
.route:nth-child(9){
  background-color: red;
}