#intro{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  margin-top: 5%;
}
p{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: max-content;
  justify-items: center;
  color: white;
  font-family: 'Open Sans';
  font-size: xx-large;
  background-color: rebeccapurple;
  margin: 0px;
  width: 60%;
  align-self: center;
  align-items: center;
}
#intro-image{
  /* background-color: red; */
  width: 70%;
  height: 90%;
  /* background-image: url('../Assets/images/india.png');
  background-repeat: no-repeat;
  background-size: cover; */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#marker-button{
  /* margin-top: 60px; */
  background-color: transparent;
  transition: transform 1s;
  border: none;
  width: 5%;
  height: 5%;
  position: absolute;
  cursor: pointer;
  align-self: center;
}
#marker-button:hover{
  transform: scale(2);
}
#marker{
  width: 60%;
  height: 150%;
}
#India{
  height: 100%;
  width: 100%;
  mask-image: url('../Assets/images/me.jpeg');
  transition: transform 2s;
  /* -webkit-filter: sepia(60%) hue-rotate(90deg); */
  /* -webkit-filter: grayscale; sepia, hue-rotate, invert.... */
  /* -webkit-filter: brightness(50%);  */
}
#India:hover{
  transform: scale(8.2) translateX(-10px);
}

#me{
  width: 35%;
  height: 70%;
}