#intro-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#intro-left {
  display: flex;
  background-color: gray;
  width: 50%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

#intro-right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro-name {
  font-size: 115px;
  display: block;
  width: 100%;
  text-align: center;
}

.into-image-div {
  width: 60%;
  border-radius: 10%;
  overflow: hidden;
  align-self: center;
}

@media only screen and (max-width: 800px) {
  #intro-right {
    position: absolute;
    z-index: 0;
    top: 0;
    background-size: contain;
  }

  .into-image-div {
    height: 80%;
    /* margin-top: 15%; */
    width: 100%;
    border-radius: 10px;
  }

  #intro-left {
    z-index: 2;
    background-color: #8080809c;
  }

  #intro-left:hover {
    z-index: 0;
  }

  #intro-name {
    font-size: 85px;
  }

  #intro-container {
    flex-direction: column;
  }

  #intro-left,
  #intro-right {
    width: 100%;
  }
}