/* .container {
   display: flex;
   height: 100vh;
   width: 100%;
   align-items: center;
   justify-content: center;
} */
button {
   position: absolute;
   animation: ripple 5s infinite;
   border-radius: 100%;
   border: none;
   z-index: -1;
   background-color: #00000000;
   box-shadow: inset 10px 10px 20px #23A6D5, inset -10px -10px 20px #E73C7E;
   transition: 0.33s ease-in all;
   opacity: 0;
}

@keyframes ripple {
   0% {
      width: 20px;
      height: 20px;
      opacity: 1;
   }
   100% {
      width: 90%;
      height: 100%;
      opacity: 0;
   }
}

.container button:nth-child(1) {
   animation-delay: 500ms;
}

.container button:nth-child(2) {
   animation-delay: 1000ms;
}

.container button:nth-child(3) {
   animation-delay: 1500ms;
}

.container button:nth-child(4) {
   animation-delay: 2000ms;
}

.container button:nth-child(5) {
   animation-delay: 2500ms;
}
