#exp-wrapper-container {
  width: 100%;
  /* height: 100vh; */
  padding-top: 8vh;
}

#exp-cards-container {
  display: flex;
  margin: 10% 0%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

#exp-card {
  background-color: gray;
  height: 40vh;
  width: 20vw;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#exp-card-detail {
  background-color: white;
  height: 40vh;
  width: 20vw;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#exp-container:hover>#exp-card {
  transform-origin: left;
  animation: slow-flip-web 1s forwards;
}

@keyframes slow-flip-web {
  0% {
    transform: rotateY(0deg) translate(0px, 0px);
    border-radius: 0px 0px 0px 0px;
  }

  60% {
    border-radius: 0px 60px -60px 0px;
  }

  100% {
    border-radius: 5px;
    transform: rotateY(110deg) translate(-10px, 0px);
    /* background-color: #ffffff; */
  }

}

.exp-label {
  font-size: 18px;
  font-weight: bold;
  margin: 3px;
}

.exp-ans {
  font-size: 18px;
  text-align: center;
  margin: 3px;
}

@media only screen and (max-width:900px) {
  #exp-wrapper-container {
    height: 100%;
  }

  #exp-cards-container {
    flex-direction: column;
  }

  #exp-card-detail,
  #exp-card {
    margin-bottom: 20px;
    width: 80vw;
  }

  #exp-container:hover>#exp-card {
    transform-origin: left;
    animation: slow-flip-mobile 1s forwards;
  }

  @keyframes slow-flip-mobile {
    0% {
      transform: rotateY(0deg) translate(0px, 0px);
      border-radius: 0px 0px 0px 0px;
    }

    60% {
      border-radius: 0px 60px -60px 0px;
    }

    100% {
      border-radius: 5px;
      transform: rotateY(90deg) translate(-10px, 0px);
      /* background-color: #ffffff; */
    }

  }
}