body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  color: #ffffff;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  font-family: sans-serif;
}

#app-wrapper{
  position: absolute;
  overflow: hidden;
  z-index: -3;
  width: 100vw;
  height: 100vh;
}

#app-container {
  background-image: url(./Assets/images/newbg.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
  position: absolute;
  opacity: 0;
}

#app-filter {
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.608);
  width: 100vw;
  height: 100vh;
}

#app-screens-containers {
  width: 100%;
  height: 100vh;
  display: flex;
}

#app-screens-content-container {
  margin-top: 6.5vh;
  margin-bottom: 6.5vh;
  opacity: 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 2.5rem;
  min-height: auto;
  border-radius: 0.3vw;
  background-color: #20272af5;
}

#app-screen-close-btn {
  height: 5vh;
  width: 5vh;
  margin: 5px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 1.3rem;
  align-self: flex-end;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

#app-screen-close-btn:hover {
  background-color: #4c4c4c5d;
}

@media screen and (max-width:800px) {
  #app-screens-content-container {
    padding: 2.5em 1.25em;
    border-radius: 1vw;
  }
}